@font-face {
    font-family: 'Cooper-Hewitt-Bold';
    src: url('/src/fonts/CooperHewitt-Bold.woff2') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper-Hewitt-Book';
    src: url('/src/fonts/CooperHewitt-Book.woff2') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper-Hewitt-Medium';
    src: url('/src/fonts/CooperHewitt-Medium.woff2') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper-Hewitt-Semibold';
    src: url('/src/fonts/CooperHewitt-Semibold.woff2') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Cooper-Hewitt-Bold, sans-serif;
    background-color: #ffffff;
    color: #000000;
    cursor: none;
    overscroll-behavior: none;
}

html {
    overscroll-behavior: none;
}

.glass-navbar {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    cursor: crosshair;

    display: flex;
    align-items: center;
    gap: 20px;
    padding: 6px 6px 6px 15px;

    border-radius: 50px;
    background: rgba(227, 223, 223, 0.15);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    flex-shrink: 0;
}

.nav-logo img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    flex-shrink: 0;
}

.nav-links a {
    font-family: Cooper-Hewitt-Medium, sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}

.nav-links a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-links a:hover {
    color: #000;
    cursor: crosshair;
}

.nav-links a:hover::before {
    transform: scaleX(1);
}

.nav-cta {
    font-family: Cooper-Hewitt-Semibold, sans-serif;
    background-color: #fff;
    color: #111;
    text-decoration: none;
    padding: 10px 24px 6px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    transition: letter-spacing 0.3s ease, color 0.3s ease;
}

.nav-cta:hover {
    letter-spacing: 1px;
    color: #555;
    cursor: crosshair;
}

.hero-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #000;
}

.hero-section h1 {
    font-size: clamp(2.5rem, 8vw, 5rem);
    margin-bottom: 10px;
    color: #ffffff;
}

.viewButton {
    margin-top: 20px;
    cursor: none;
    display: inline-block;
    padding: 15px 30px;
    background: #000;
    color: #fff;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 6px 3px rgba(255, 255, 255, 0.3);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.viewButton:hover {
    transform: scale(1.05);
}

.button-wrapper:hover {
    transform: scale(1.05);
}

.features-section {
    padding: 80px 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.features-section h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 40px;
}

.feature-item {
    border-radius: 50px;
    border: 1px solid #000;
    padding: 40px 20px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

footer {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    cursor: crosshair;
}


.footer-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.footer-copyright-container {
    text-align: center;
}

.footer-links-container a {
    font-family: Cooper-Hewitt-Bold, sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}

.footer-links-container a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.footer-links-container a:hover {
    color: #000;
}

.footer-links-container a:hover::before {
    transform: scaleX(1);
}

.footer-links-container a:hover {
    scale: 1.05;
}

.footer-links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.footer-links-container-link {
    font-family: Cooper-Hewitt-Bold, sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}

.footer-links-container-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.footer-links-container span {
    font-family: Cooper-Hewitt-Bold, sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 500;
}

.footer-links-container-link:hover {
    color: #000;
    cursor: crosshair;
}

.footer-links-container-link:hover::before {
    transform: scaleX(1);
}

@media (min-width: 480px) {
    .features-section {
        grid-template-columns: repeat(3, 1fr);
    }
}

.github-wrapper {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}


.generator-section {
    padding: 80px 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.generator-information-container {
    text-align: center;
}

.generator-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.generator-input-container input {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

.generator-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.generator-input-form {
    display: flex;
    height: 3rem;
    width: 100%;
    max-width: 28rem;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
    border-radius: 9999px;
    border: 1px solid rgba(107, 114, 128, 0.3);
    background-color: #ffffff;
}

.generator-input-form input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    padding-left: 1.5rem;
    font-size: 0.875rem;
    color: inherit;
    border: none;
    outline: none;
}

.generator-input-form input::placeholder {
    color: #6b7280;
}

.generator-input-form button {
    margin-right: 0.25rem;
    height: 2.5rem;
    width: 14rem;
    border-radius: 9999px;
    background-color: #6366f1;
    color: #ffffff;
    font-size: 0.875rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.generator-input-form button:active {
    transform: scale(0.95);
}

.generator-input-form button:hover {
    background-color: #4f46e5;
}

@media (max-width: 480px) {

    .glass-navbar {
        width: 98%;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 4px;
        gap: 2px;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .nav-logo {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }

    .nav-links {
        gap: 6px;
        flex-shrink: 1;
    }

    .nav-links a {
        font-size: 11px;
        padding: 0;
    }

    .nav-cta {
        font-size: 10px;
        padding: 5px 8px;
        width: fit-content;
        white-space: nowrap;
        flex-shrink: 0;
        letter-spacing: 0;
    }
}

.legals-section {
    width: 100%;
    padding: 40px 20px;
    border-top: 1px solid #000;
    display: flex;
    justify-content: center;
    cursor: crosshair;
}

.legals-content-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
    padding: 60px;
}

.disclaimer {
    font-family: Cooper-Hewitt-Book, sans-serif;
    text-wrap-mode: wrap;
    text-align: center;
}

.legals-impressum {
    text-wrap-mode: wrap;
    text-align: center;
}

.font-h2-style {
    font-family: Cooper-Hewitt-Bold, sans-serif;
    text-wrap-mode: wrap;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 35px;
}

.font-h3-style {
    font-family: Cooper-Hewitt-Semibold, sans-serif;
    text-wrap-mode: wrap;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 25px;

}

.font-book-style {
    font-family: Cooper-Hewitt-Book, sans-serif;
    text-wrap-mode: wrap;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 17px;
}

.legals-information-title {
    margin: 20px;
    font-size: 60px;
}

.about-section {
    height: 55vh;
    width: 100%;
}

.about-title {
    font-family: Cooper-Hewitt-Semibold, sans-serif;
    text-wrap-mode: wrap;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 40px;
}

.about-impressions-title {
    padding-top: 80px;
    font-family: Cooper-Hewitt-Bold, sans-serif;
    text-wrap-mode: wrap;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 50px;
}

.about-description {
    font-family: Cooper-Hewitt-Book, sans-serif;
    text-wrap-mode: wrap;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 18px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


.impressions-section {
    width: 100%;
    padding-top: 50px;
}

.impressions-title {
    font-family: Cooper-Hewitt-Semibold, sans-serif;
    text-wrap-mode: wrap;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 40px;
}

.impressions-description {
    font-family: Cooper-Hewitt-Book, sans-serif;
    text-wrap-mode: wrap;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 18px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.impressions-gallery-item {
    border-radius: 50px;
    border: 1px solid #000;
    padding: 40px 20px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



/*--------------------------------------*/
.impressions-gallery-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    align-items: start;
}

.impressions-gallery-item {
    background-color: #ffffff;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    transition: transform 0.3s ease;
}

.impressions-gallery-item:hover {
    transform: translateY(-5px);
}

.item-describtion {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.item-describtion-title {
    font-family: 'Cooper-Hewitt-Bold', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.item-describtion-text {
    font-family: 'Cooper-Hewitt-Book', sans-serif;
    font-size: 15px;
    color: #444;
    margin-bottom: 25px;
    line-height: 1.5;
}

.item-picture {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #eee;
}

.item-picture img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

@media (max-width: 768px) {
    .impressions-gallery-list {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
